/.idea/
/AddressBookDataDrivenFramework.iml
/target/maven-status/
/target/surefire-reports/Addressbook Full Regression Test Run/
/target/surefire-reports/TEST-TestSuite.xml
/target/surefire-reports/TestSuite.txt
/target/surefire-reports/bullet_point.png
/target/surefire-reports/collapseall.gif
/target/surefire-reports/emailable-report.html
/target/surefire-reports/failed.png
/target/surefire-reports/html/index.html
/target/surefire-reports/html/output.html
/target/surefire-reports/html/overview.html
/target/surefire-reports/html/reportng.css
/target/surefire-reports/html/reportng.js
/target/surefire-reports/html/sorttable.js
/target/surefire-reports/html/suite1_test1_results.html
/target/surefire-reports/html/suite1_test2_results.html
/target/surefire-reports/html/suites.html
/target/surefire-reports/index.html
/target/surefire-reports/jquery-1.7.1.min.js
/target/surefire-reports/junitreports/
/target/surefire-reports/navigator-bullet.png
/target/surefire-reports/old/
/target/surefire-reports/passed.png
/target/surefire-reports/skipped.png
/target/surefire-reports/testng-failed.xml
/target/surefire-reports/testng-reports.css
/target/surefire-reports/testng-reports.js
/target/surefire-reports/testng-results.xml
/target/surefire-reports/testng.css
/target/surefire-reports/xml/
/target/test-classes/
/test-output/
