<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Addressbook Full Regression Test Run">


    <test thread-count="1" name="Login Test">
        <classes>
            <class name="com.addressbook.testcases.LoginTest"/>
        </classes>
    </test>
    <test thread-count="1" name="Add Address Test">
        <classes>
            <class name="com.addressbook.testcases.AddAddressTest"/>
        </classes>
    </test>

</suite>
